<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>855d9ae9b8cb47c4934c7e0165762c61</Guid>
            <Name>Protractor-POM</Name>
            <Objects>
                <Object>
                    <ObjectType>Assertions</ObjectType>
                    <ObjectActions>
                        <Action ActionName="urlContains" CodeSnippet="        browser.wait(protractor.ExpectedConditions.urlContains('~text~'), ~timeout~);" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>DeliveryPage</ObjectType>
                    <ObjectActions>
                        <Action ActionName="clickContinue" CodeSnippet="        deliveryPage.clickContinue();" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Headers and Footers</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Describe end" CodeSnippet="});" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Describe start" CodeSnippet="describe('##Path Name[p1]##', function() {" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Include Pages" CodeSnippet="var indexPage = require('./PageObjects/IndexPage');&#10;var shippingPage = require('./PageObjects/ShippingPage');&#10;var deliveryPage = require('./PageObjects/DeliveryPage');&#10;var paymentDetailsPage = require('./PageObjects/PaymentDetailsPage')&#10;&#10;browser.ignoreSynchronization = true;&#10;&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="It end" CodeSnippet="    });" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="It start" CodeSnippet="    it('##Creator[p7]##  ##Date Modified[p9]##', function(){" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Step Join" CodeSnippet="&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>IndexPage</ObjectType>
                    <ObjectActions>
                        <Action ActionName="clickOrderProduct" CodeSnippet="        indexPage.clickOrderProduct();" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="getIndexPage" CodeSnippet="        indexPage.get();" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="setProductSelection" CodeSnippet="        indexPage.setProductSelection('~product~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>PaymentDetailsPage</ObjectType>
                    <ObjectActions>
                        <Action ActionName="clickCompletePurchase" CodeSnippet="        paymentDetailsPage.clickCompletePurchase();" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="enterCardNumber" CodeSnippet="            paymentDetailsPage.enterCardDetails('~Card~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="selectCard" CodeSnippet="        paymentDetailsPage.setCardSelection('~Card~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>ShippingPage</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Click Submit" CodeSnippet="        shippingPage.clickSubmit();&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="enterAddress1" CodeSnippet="        shippingPage.enterAddressLine1Field('~address1~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="enterAddress2" CodeSnippet="        shippingPage.enterAddressLine2Field('~Address2~');&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="enterConfirmEmail" CodeSnippet="        shippingPage.enterConfirmEmailField('~confirmEmail~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="enterCounty" CodeSnippet="        shippingPage.enterCounty('~County~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="enterEmail" CodeSnippet="        shippingPage.enterEmailField('~email~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="enterName" CodeSnippet="        shippingPage.enterNameField('~enterName~');&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="enterPostcode" CodeSnippet="        shippingPage.enterPostcodeField('~Postcode~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="fillinForm" CodeSnippet="        shippingPage.enterEmailField('~email~');&#10;        shippingPage.enterConfirmEmailField('~emailConfirm~');&#10;        shippingPage.enterNameField('~Name~');&#10;        shippingPage.enterAddressLine1Field('~Address~');&#10;        shippingPage.enterAddressLine2Field('~Address2~');&#10;        shippingPage.enterCountyField('~County~');&#10;        shippingPage.selectCountry('~Country~');&#10;        shippingPage.enterPostcodeField('~Postcode~');&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="selectCountry" CodeSnippet="        shippingPage.selectCountry('~Country~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension=".js" fileNameVariable="" fileNamingSystem="3" filePrefix="ARDGeneratedTests"/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="00000000000000000000000000000000;Root">
                            <ObjectName></ObjectName>
                            <LayerId>855d9ae9b8cb47c4934c7e0165762c61</LayerId>
                            <ObjectType>Headers and Footers</ObjectType>
                            <ActionName>Include Pages</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="00000000000000000000000000000000;Root">
                            <ObjectName></ObjectName>
                            <LayerId>855d9ae9b8cb47c4934c7e0165762c61</LayerId>
                            <ObjectType>Headers and Footers</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="7fc5353398134a949b3aedc1fa586416" xmlVersion="1.0" overrideSectionStepJoin="0">
                    <FlowHeader>
                        <AutomationStep guid="77140dd92cfe4d3182114f52001825c8" xmlVersion="1.0" objectName="" layerId="855d9ae9b8cb47c4934c7e0165762c61" objectType="Headers and Footers" actionName="Include Pages" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                            <Repeater guid="f8372011e16540df88e16ba7d82feede" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </FlowHeader>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader/>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin/>
                    <StepJoin>
                        <AutomationStep guid="baaa48629994429b8a6632169f0bf942" xmlVersion="1.0" objectName="" layerId="855d9ae9b8cb47c4934c7e0165762c61" objectType="Headers and Footers" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                            <Repeater guid="46d2423f44f74bfc8d89b178dc2362ff" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </StepJoin>
                </ContainerData>
                <AutomationSectionModel guid="eae294d85e9445548ac6cad77b8c1a8c" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="e9f8971f6d7c497dbf8ea1ee2948b268" xmlVersion="1.0">
                        <AutomationSection guid="637114abebb3470aaffdf02821391212" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="b955f1e655ec40028db02ea48d4a535f" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Root" description="" defaultSelected="1" referencedRedundantSections="">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader>
                                            <AutomationStep guid="438612068b2844b6836c44ed09fc0030" xmlVersion="1.0" objectName="" layerId="855d9ae9b8cb47c4934c7e0165762c61" objectType="Headers and Footers" actionName="Describe start" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                                                <Repeater guid="5cb8558cbe184c5aa6ed455a2b7dd601" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="ae3f756722d647bb955603d3277d24e8" xmlVersion="1.0" objectName="" layerId="855d9ae9b8cb47c4934c7e0165762c61" objectType="Headers and Footers" actionName="It start" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                                                <Repeater guid="5f7d7c630df445fe8c2eb70dbddd3e47" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                        </SectionHeader>
                                        <SectionFooter>
                                            <AutomationStep guid="1381f11943ee4449894524903efccb04" xmlVersion="1.0" objectName="" layerId="855d9ae9b8cb47c4934c7e0165762c61" objectType="Headers and Footers" actionName="It end" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                                                <Repeater guid="d6c049bd7ee441a094d40ff760b133a1" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="ddef0affad3b4141949959759b11f31d" xmlVersion="1.0" objectName="" layerId="855d9ae9b8cb47c4934c7e0165762c61" objectType="Headers and Footers" actionName="Describe end" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                                                <Repeater guid="9bd4d138fa0b4b809c6032e880c9b94e" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="2a1a7ce708214c1689a7dfa2b31e5181" xmlVersion="1.0" objectName="" layerId="855d9ae9b8cb47c4934c7e0165762c61" objectType="Headers and Footers" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                                                <Repeater guid="fd0feb1fa080460594717a7ca779a853" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="b520898ce9fd472383b7f4111919042b" xmlVersion="1.0" objectName="" layerId="855d9ae9b8cb47c4934c7e0165762c61" objectType="Headers and Footers" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                                                <Repeater guid="0227cb42be1a450e92e0807ebf18b279" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                        </SectionFooter>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter/>
                                        <StepJoin>
                                            <AutomationStep guid="fc64e9ca78f543b1a039e4ed07aef4c4" xmlVersion="1.0" objectName="" layerId="855d9ae9b8cb47c4934c7e0165762c61" objectType="Headers and Footers" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                                                <Repeater guid="e30ab3c240e547009ba1b7c182ed0397" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                        </StepJoin>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems/>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
